# Copy to .secrets/zero2.env and fill locally.
PI_HOSTNAME=zero2
PI_USERNAME=michal
PI_PASSWORD=

WIFI_SSID=
WIFI_PASSWORD=

PI_USB_IP=169.254.64.64
MAC_USB_IP=169.254.64.1
PI_WIFI_IP_LAST_SEEN=192.168.0.23
